@media screen and (max-width: 400px){
    .Nav, .Contact, .Contact-Button{
        display: none;}
    .Header{
        width: 400px;}
    .Header-Logo{
        width: 30px;
        height: 30px;
        margin-left: 20px;}
    .Description{
       margin-top: 150px;
       width: 300px;
       margin-left: 50px;
       font-style: normal;
       font-weight: normal;
       font-size: 30px;
       line-height: 45px;
       color: #D67E35; }
    .Description-Between-White-Borders{
       font-size: 10px;
       line-height: 15px;}
    .White-Border{
        width: 60px;}
    .Mobile-Button{
        display: flex;
        width: 30px;
        height: 20px;
        flex-wrap: wrap;
        column-gap: 10px;
        border-radius: 2px;}
    .MB{
        width: 40px;
        height: 2px;
        background-color: #FF7400;}
    }