.Nav-Item a, .Contact p, .Contact-Phone, .Description-Button, .Contact-Button, .Description-Between-White-Borders{
    color: #FFFFFF;}
    .Header-Top, .Header-Menu, .Nav, .Description-Content{
        display: flex;}
   .Header{
       width: 1440px;
       height: 100vh;
       background: no-repeat url("https://github.com/kruushik89/restaurant_template/blob/master/image/bg.png?raw=true");}
    .Header-Top, .Nav, .Description-Content{
        align-items: center;}
    .Nav-Item img{
       width: 20px;}
    .Header-Top{
        padding-top: 50px;}
    .Header-Menu{
        justify-content: flex-end;
        margin-left: 300px;}
    .Nav-Item a{
        font-weight: bold;
        font-size: 20px;
        line-height: 19px;
        text-decoration: none;}
    .Contact p{
        font-size: 14px;}
    .Header-Logo{
        margin-left: 100px;}
    .Nav{
        height: 100px;
        border-right: 2px solid white;
        padding-right: 25px;
        column-gap: 23px;}
    .Contact-Phone, .Description,  .Description-Between-White-Borders{
        font-style: normal;}
    .Contact-Phone{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;}
    .Contact{
        width: 200px;
        padding-left: 20px;}
    .Contact-Button{
        width: 157px;
        height: 47px;
        background-color: #FF7400;
        margin-top: 15px; }
    .Description{
        text-align: center;
        width: 500px;
        margin-top: 120px;
        margin-left: 120px;}
    .Description{
        font-weight: normal;
        font-size: 50px;
        line-height: 57px;
        color: #D67E35; }
    .Description-Between-White-Borders{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;}
    .White-Border{
        width: 100px;
        height: 2px;
        background-color:#FFFFFF; }
    .Description-Content{
        justify-content: center;
        column-gap: 7px;}
    .Description-Button{
        width: 137px;
        height: 47px;
        left: 356px;
        top: 522px;
        background: #FF7400;}
    .Mobile-Button{
        display: none;}